.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal_modif_client {
  background: white;
  border-radius: 10px;
  padding: 2rem;
  width: 800px;           /* largeur fixe */
  max-width: 100vw;        /* évite débordement sur petits écrans */
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modal-content_EditClient {
  flex-direction: column;
}


.modal-content_EditClient .form-group {
  display: flex;
  text-align: left;
  align-items: center;
  margin-bottom: 1rem;
}

.modal-content_EditClient .form-group.group{
  position: relative;
  flex: 1;
  margin-bottom: 0;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.modal-content_EditClient .form-group label {
  width: 150px; /* largeur fixe pour l'alignement */
  margin-left: 5px;
  text-align: left;
  font-weight: 500;
  color: #333;
}

.modal-content_EditClient .form-group input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-group select{ 
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: white url("data:image/svg+xml;charset=US-ASCII,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='gray'><polygon points='0,0 16,0 8,8'/></svg>") no-repeat right 12px center;
  background-size: 12px;
  cursor: pointer;

}

/* Animations */
@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
