.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-affichprofil {
  position: relative;
  top: 20px;
  background-color: #fff;
  width: 500px;
  height: 600px;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 12px 24px rgba(0,0,0,0.2);
  animation: slideIn 0.4s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.titre-modal h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  color: #0b4a7a;
  margin-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(5, 5, 5, 0.1);
}

.div-img {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.div-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-group label {
  width: 90px;
  font-weight: bold;
  color: #333;
}

.form-group input {
  flex: 1;
  padding: 0.4rem 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f9f9f9;
  font-size: 16px;
}
.form-group input:focus {
  border-color: #007bff;
  outline: none;
}
.modal-buttons {
  position: relative;
  text-align: center;
  top: 80px;
  display: flex;
  justify-content: center;  
  gap: 1rem;}

.button-valider {
  padding: 0.6rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button-valider:hover {
  background-color: #0056b3;
}
