
/* Désactive le scroll global (body) */
body {
  overflow: hidden; /* Désactive le scroll global */
}

.titre-permission {
  width: 100%;
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  font-family: 'Segoe UI', sans-serif;
  }

/* Titre */
.titre-permission h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  color: #0b4a7a;
  padding-bottom: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(5, 5, 5, 0.1);
}
.titre-permission .h4 {
  width: 100%;
  height: 1px;
  border: none;
  margin: 20px 5px;
  color: #1732cc;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.form-container-ajout-permission {
  height: 100%; /* toute la hauteur visible */
  overflow-y: visible; /* scroll interne si nécessaire */
  padding: 30px 35px;
  width: 100%;
  padding: 20px;
  max-width: 700px;
  margin: 40px auto;
  background: #ffffff;
  padding: 30px 35px;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}


.form-container-ajout-permission h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #222;
  text-align: center;
}

.form-container-ajout-permission form {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.form-container-ajout-permission input[type="text"] {
  flex: 1;
  padding: 12px 14px;
  border: 1.8px solid #cccccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
  min-width: 250px;
}

.form-container-ajout-permission input:focus {
  border-color: #777b7e;
  outline: none;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.4);
}
.form-container-ajout-permission .bouton {
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  display: flex;
  gap: 12px;
  width: 100%;
}


.form-container-ajout-permission p {
  color: green;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.form-container-ajout-permission h4 {
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 12px;
  color: #333;
}


.permissions-table {
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px;
  background-color: #fff;
  border: 0;
  border-radius: 8px;
  overflow: visible;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  font-family: 'Segoe UI', sans-serif;
}

.permissions-table th,
.permissions-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #eaeaea;
}

.permissions-table th {
  background-color: #f5f5f5;
  font-weight: 600;
  color: #333;
}

.permissions-table tr:last-child td {
  border-bottom: none;
}
.permissions-table tr:hover {
  background-color: #f9f9f9;
}