header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  background: linear-gradient(90deg, #e0e7f5, #4b547e, #5e6aa0);
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */
.logo-EBM {
  height: 40px;
  width: auto;
}

/* Bouton menu */
.toggle-btn {
  flex-shrink: 0;
  width: auto;           /* ✅ n’occupe que la taille du contenu */
  height: 40px;          /* optionnel pour cohérence visuelle */
  padding: 0 10px;
  display: flex;         /* pour bien centrer le symbole burger */
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: 26px;
  color: rgb(12, 31, 61);
  cursor: pointer;
  margin-right: 10px;
}
.toggle-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* Liens à droite */
.header-links {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.header-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.header-links a:hover{
  color: #7fd0ee;
}

/* Zone user */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}

.user-info svg {
  width: 24px;
  height: 24px;
  fill: white;
}

.username {
  font-size: 16px;
  font-weight: 500;
  color: #8afe05;
}

.dropdown-icon {
  font-size: 12px;
  color: white;
  
}

/* Menu déroulant */
.user-menu {
  position: absolute;
  top: 41px;
  right: 0;
  background: none;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  width: 180px;
  }

.user-menu a {
  padding: 10px 15px;
  color: rgb(46, 59, 70);
  text-decoration: none;
  transition: background 0.2s ease;
}

.user-menu a:hover {
  background: #cfdbfa;
}
