/* Utilisez le même CSS que login.php */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.form-container {
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  color: #0b4a7a;
  padding-bottom: 10px;
  margin-bottom: 25px;
  box-shadow: 0 2px 5px rgba(5, 5, 5, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #333;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input, select {
  width: 100%;
  max-width: 700px;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-wrapper input:focus, select:focus {
  border-color: #4b547e;
  outline: none;
  box-shadow: 0 0 5px rgba(75, 84, 126, 0.5);
}

.input-wrapper input::placeholder, select::placeholder {
  color: #aaa;
  font-style: italic;
}
.input-wrapper input:focus::placeholder, select:focus::placeholder {
  color: transparent;
}


/* button-groupe*/
.button-groupe {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}
.button-valider {
  background-color: green;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button-valider:hover {
  background-color: rgb(26, 153, 26);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.reset {
  background-color: #904242;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  width: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.reset:hover {
  background-color: #984f4f;
}
/* Bouton retour */
.btn-retour {
  width: 100%;
  background-color: #304d68;
  color: white;
  padding: 12px 22px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-retour:hover {
  background-color: #597288;
}
  /* Animation de la ligne du titre*/
  @keyframes pulseLine {
    0% { width: 0; }
    100% { width: 100%; }
  }

