/* Fond assombri */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* semi-transparent */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Boîte centrale */
.modal {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 25px;
  width: 95%;
  max-width: 450px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.3s ease-out;
  text-align: center;
}

/* Titre de la modale */
.modal h3 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #610808;
}

/* Texte d'avertissement */
.modal p {
  font-size: 16px;
  color: #121010;
  margin-bottom: 25px;
}

/* L'élément à supprimer */
.modal .highlighted-name {
  font-weight: bold;
  font-size: 16px;
  color: #bf2424; /* couleur plus claire au survol */
  margin-top: 7px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Arial", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: color 0.3s ease;
  cursor: default; /* pour indiquer que ce n'est pas cliquable */
}

/* Actions */
.modal-actions {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  gap: 5px;
}

/* Bouton principal */
.modal-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  width: 100%;
  max-width: 200px;
}

/* Bouton confirmer */
.btn-confirm {
  background-color: #e74c3c;
  color: white;
  width: 100%;
}
.btn-confirm:hover {
  background-color: #c0392b;
}

/* Bouton annuler */
.btn-cancel {
  background-color: #d3dfea;
  color: #333;
  width: 100%;
}
.btn-cancel:hover {
  background-color: #ddd;
}

/* Animation d'entrée */
@keyframes slideDown {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
