.permissions-container {
  padding: 20px;
  max-width: 700px;
  margin: auto;
}
/* Titre */
.permissions-container h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  color: #0b4a7a;
  padding-bottom: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(5, 5, 5, 0.1);

}
.table-permissions {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
.table-permissions th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.table-permissions th {
  background-color: #c6cdd8;
  text-align: center;
  color: #093152;
  font-weight: bold;
  font-size: medium;
  position: sticky;
  top: 0;
  z-index: 2;
}

.table-permissions td {
  background-color: #fff;
  color: #315e95;
  font-size: large;
}

.table-permissions tr:nth-child(even) td {
  background-color: #f9f9f9;
}


