.permissions-container {
  padding: 20px;
  max-width: 700px;
  margin: auto;
}
/* Titre */
.permissions-container h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  color: #0b4a7a;
  padding-bottom: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(5, 5, 5, 0.1);

}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.message {
  margin-top: 10px;
  color: green;
}
.error {
  color: red;
  margin-top: 10px;
}
.button-ajouter {
  background-color: #496086;
  color: rgb(242, 243, 247);
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}
.button-ajouter:hover {
  background-color: #385b71;
  color: #fff;
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

