.titre-modal {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #0b4a7a;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(65, 10, 217, 0.1);
  background-color: white;
  top: 0;
  margin-top: 0;
}