.details-contrat-container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
}

.header-actions-details {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}


.titre-VC {
  width: 100%;
  max-width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  color: #0b4a7a;
  margin-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgb(204, 206, 214);
}

fieldset {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 6px;
}

legend {
  font-weight: bold;
  padding: 0 0.5rem;
  color: #005fa3;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 10px 20px;
}

.details-actions {
  text-align: right;
  margin-top: 2rem;
}

.details-actions button {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.details-actions button:hover {
  background-color: #115293;
}
.details-actions button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.5);
}

.exclue {
  color: rgb(202, 30, 30) !important;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;}

.valide {
  color: green !important;
  font-weight: 700;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;}
.details-contrat-container .valide img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 5px;
} 