.header-prestations {
  position: sticky;     /* ou fixed si tu veux qu'il reste toujours visible */
  top: 0;
  background-color: #fff; /* important pour éviter le chevauchement */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-bottom: 1px solid #ddd;
  z-index: 10;
}

.header-prestations h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 5px;
  color: #007BFF;
}
/* Styles pour le tableau des prestations */
.prestation-tab {
  padding: 20px;
}

.table-container {
  max-height: 70vh;
  overflow-y: auto;
  border: 0;
}

.table-prestations {
  margin-top: 0;
  width: 100%;
  border-collapse: collapse;
}

.table-prestations th, .table-prestations td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

/* Fixer le thead */
.table-prestations thead th {
  position: sticky;
  top: 0;
  background-color: #f8f8f8;
  z-index: 1;
}


.table-prestations th {
  background-color: #f0f0f0;
  text-align: left;
}

.table-prestations tr:nth-child(even) {
  background-color: #f9f9f9;
}
.table-prestations tr:hover {
  background-color: #f1f1f1;
}

.table-prestations input:disabled
{
  background-color: #f0f0f0;
  color: #666;
  border: #ccc 1px solid;
}


.btn-valider-prestat {
  margin-top: 15px;
  background-color: #46c211;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
  max-width: 200px;
  height: 40px;
}
.btn-valider-prestat:hover {
  background-color: #388f12;
}

.ligne-active {
  background-color: #deeaf1; /* bleu très clair */
}

