.prestation-deces-container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', sans-serif;
  font-family: 'Segoe UI', sans-serif;
}

.prestation-deces-container h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 5px;
  color: #007BFF;
}

.deces-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  gap: 10px;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  width: 250px;
}

.form-group input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: calc(100% - 260px);
  transition: border-color 0.3s;

}

.btn-enregistrer {
  padding: 10px;
  background-color: #1e88e5;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}

.btn-enregistrer:hover {
  background-color: #1565c0;
}
