/* Style global de la liste */
.liste-Liste {
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Segoe UI", sans-serif;
}

/* Titre */
.liste-Liste h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  color: #0b4a7a;
  padding-bottom: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(5, 5, 5, 0.1);
}

/* Tableau */
.liste-Liste table {
  width: 100%;
  border-collapse: collapse;
  z-index: -1000;
}

.liste-Liste th,
.liste-Liste td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.liste-Liste th {
  background-color: #277199;
  color: white;
  font-weight: bold;
}

.liste-Liste tr:nth-child(even) {
  background-color: #f9f9f9;
}

.liste-Liste tr:hover {
  background-color: #f1f1f1;
}

.col-actions {
  width: 1%;
  white-space: nowrap;
  text-align: center;
}

.liste-Liste table td.col-actions {
  text-align: center;
  white-space: nowrap;
  padding: 4px 8px;
}
/* Boutons */
button {
  padding: 5px 10px;
  margin: 2px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 25px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s, opacity 0.3s;
  text-align: center;
}

button:hover {
  opacity: 0.9;
}

button.btn-supprimer {
  background-color: none;
  color: white;
}

button.btn-supprimer:hover {
  background-color: none;
}

.action-icon {
  width: 25px;
  height: 25px;
  margin: 0 4px;
  cursor: pointer;
  transition: transform 0.2s;
}

.action-icon:hover {
  transform: scale(1.1);
  width: 28px;
  height: 28px;
  opacity: 0.9;
  background-color: none;
}

/* Champ de recheche*/
.input-recherche {
  width: 100%;
  max-width: 500px;
  height: 40px;
  padding: 12px 10px;
  margin: 10px 0;
  border: 1px solid #68abdf;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-recherche:focus {
  border-color: #4b547e;
  outline: none;
  box-shadow: 0 0 5px rgba(75, 84, 126, 0.5);
}

.input-recherche::placeholder {
  color: #aaa;
  font-style: italic;
}
.input-recherche:focus::placeholder {
  color: transparent;
}

.pagination {
  width: 100%;
  max-width: 320px;
  float: right;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}
.pagination button {
  width: 100%;
  max-width: 105px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s, opacity 0.3s;
  text-align: center;
  background: none;
  color: rgb(15, 1, 1);
}
.pagination button:hover {
  opacity: 0.9;
  background-color: #d7dbea;
  color: rgb(15, 55, 134);
}

.page-numbers {
  margin-top: 5px;
}
.chevron {
  font-size: 20px;
}

/* Button ajout d'utilisateur */
/* Lien */
.lien-button {
  margin-top: 8px;
  float: right;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 5px 20px;
  width: fit-content;
  border-radius: 3px;
  background-color: #ddedef;
  color: #202424;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 0 1px #c8ced0, 0 0 10px #b9c5c8;
  text-transform: none;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  text-decoration: none; /* Supprime le soulignement */
}

.lien-button img {
  width: 30px;
  height: 30px;
}

.lien-button:hover {
  background-color: #93d2da;
}

.lien-button:active {
  transform: scale(0.95);
  box-shadow: 0 0 5px #00ccee, 0 0 10px #00ccee;
}

/* Responsive pour mobiles */
@media (max-width: 600px) {
  .lien-button {
    font-size: 0.9rem;
    padding: 10px 18px;
    gap: 8px;
  }

  .lien-button img {
    width: 18px;
    height: 18px;
  }
}
