
.message-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  color: rgb(13, 13, 13);
  font-weight: bold;
  font-size: 16px;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
  transform: translateY(0);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  z-index: 2000;
  animation: fadeIn 0.5s ease-in-out;
}

.message-banner.success {
  background-color: #b4e0b6;
}

.message-banner.error {
  background-color: #de2f22;
  color: #f8f5f5;
  border: 1px solid #f5c6cb;
}

.message-banner.fade-out {
  opacity: 0;
  transform: translateY(-100%);
}

.close-btn {
  background: none;
  border: none;
  color: rgb(22, 20, 20);
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Message pour les autres pages avec Header et Sidebar*/
.message-banner-Global {
  width: 100%;
  top: 60px;
  left: 220px;
  position: fixed; /* s’intègre dans le flux normal */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
  transform: translateY(0);
  animation: fadeIn 0.5s ease-in-out;
}

.message-banner-Global.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.message-banner-Global.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.message-banner-Global.fade-out {
  opacity: 0;
  transform: translateY(-20px);
}

.message-banner-Global .close-btn {
    background: none;
    border: none;
    font-size: 20px;
    color: inherit;
    cursor: pointer;
    margin-right: 250px;
    top: 10px;
    font-size: 20px;  
    align-items: center;
    justify-content: center;
  }


/* Animation pour le message */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Media queries pour les petits écrans */
@media (max-width: 768px) {
  .message-banner {
    font-size: 14px;
    padding: 8px 16px;
  }

  .message-banner-Global {
    font-size: 14px;
    padding: 8px 16px;
  }
}